* {
  font-family: "MesloLGS Nerd Font", DejaVu Sans;
  font-size: 12pt;
}

#window, #network, #cpu, #memory, #disk, #pulseaudio, #custom-microphone,
#battery, #clock, #tray {
  background-color: #303030;
  border-radius: 5px;  
  padding-left: 10px;
  padding-right: 10px;                     
  margin: 5px;
}

#network {
  color: #ff9088;
}

#cpu {
  color: #ff5643;
}

#memory {
  color: #ff6f31;
}

#disk {
  color: #fff843;
}

#battery {
  color: #fff843;
}

#custom-microphone {
  color: #ff6f31;
}

#pulseaudio {
  color: #ff5643;
}

#clock {
  color: #ff9088;
}

#tray {
 padding: 0 10px;
}

#custom-os_button {
color: #ff000c;
}
#custom-shutdown {
color: #c03839;
}
#custom-lockscreen {
color: #fff843;
}
#custom-reboot {
color: #ff6f31;
}