 * {
    font-family: "MesloLGS Nerd Font", DejaVu Sans;
    font-size: 12pt;
  }
  #pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #945d8c;
}

#tray {
  padding: 0 10px;
}
#custom-os_button {
  color: #85cffa;
}
#custom-shutdown {
  color: #c03839;
}
#custom-lockscreen {
  color: #e1bd66;
}
#custom-reboot {
  color: #59bd5d;
}